---
import { Icon } from "astro-icon/components";
import { getLangFromUrl } from "../../i18n/utils";
import arrowDown from "../../assets/images/arrow-down.svg";
import { Image } from "astro:assets";
const processes = await Astro.glob("../../content/process/process.md");

const lang = getLangFromUrl(Astro.url);
const filteredProcesses = processes[0]?.frontmatter[lang];
---

<div class="flex mx-auto sm:w-2/3 w-full flex-col mt-20">
    <h2 class="text-2xl font-bold flex mx-auto mb-10">
        {filteredProcesses.title}
    </h2>
    {
        filteredProcesses &&
            filteredProcesses.processes?.map((f: any, i: number) => (
                <div class="my-3 flex min-h-32 sm:ml-0 ml-4">
                    <div class=" ">
                        <span class="bg-primary-light min-w-[55px] w-[55px] min-h-[55px] h-[55px] flex justify-center items-center rotate-45">
                            <Icon
                                name={f.icon}
                                class={"w-[35px] h-[35px] -rotate-45"}
                            />
                        </span>
                        <Image src={arrowDown} alt="arrow" class={"ml-[22px] mt-7 " + (i === filteredProcesses.processes.length - 1 ? 'hidden': '')} />
                    </div>
                    <div class="flex-col ml-8">
                        <p class="uppercase font-bold">{f.title}</p>
                        <p>{f.description}</p>
                    </div>
                </div>
            ))
    }
</div>
