---
import LanguagePicker from './LanguagePicker';
import { defaultLang } from '../../../i18n/ui';
import { getLangFromUrl, useTranslations } from '../../../i18n/utils';
import { getRelativeLocaleUrl } from 'astro:i18n';
import ToggleMenu from './ToggleMenu';
import type { Link, MenuLink } from './Link';

export interface Props {
  links?: Array<MenuLink>;
  isSticky?: boolean;
  showRssFeed?: boolean;
  position?: string;
  showNavigation: boolean;
}

const {
  isSticky = false,
  position = 'center',
  showNavigation
} = Astro.props;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const links: Link[] = [
    {
      key: `${lang}1`,
      languageKey: 'navigation.about',
      href: getRelativeLocaleUrl(lang, 'about'),
    },
    {
      key: `${lang}2`,
      languageKey: 'navigation.fleet',
      href: `/${lang === defaultLang.key ? '' : lang}#fleet`
    },
    {
      key: `${lang}3`,
      languageKey: 'navigation.book',
      href: getRelativeLocaleUrl(lang, 'book')
    },
    {
      key: `${lang}4`,
      languageKey: 'navigation.contact',
      href: `/${lang === defaultLang.key ? '' : lang}#contact`
    },
  ];
;
---

<header
  class:list={[
    { sticky: isSticky, relative: !isSticky },
    'top-0 z-40 flex-none mx-auto w-full transition-all ease-in duration-100 bg-primary',
  ]}
  id="header"
>
  <div class="py-1 px-3 md:px-4 mx-auto w-full md:flex md:justify-center max-w-7xl">
    <nav
      class="w-full flex md:h-auto overflow-y-auto md:overflow-visible md:mx-5"
      aria-label="Main navigation"
    >
      <div class="flex md:flex-row flex-col">
        <a href=`/${lang === defaultLang.key ? '' : lang}`>
           <img
              class="h-[60px] w-[69px] max-w-[100px] max-h-[80px]"
              src="/traslocorsino-small.svg"
              alt="traslocorsino logo"
          />
        </a>
      </div>
    <div class="md:flex mx-auto hidden">
      <ul class="md:flex pt-8 md:pt-0  md:flex-row md:self-center w-full md:w-auto md:text-base">
        {
          showNavigation && links.map(({ languageKey, href }) => (
            <li>
                <a 
                  class=" text-white hover:text-slate-600 px-4 py-3 flex items-center transition duration-150 ease-in-out"
                  href={href}
                >
                  {t(languageKey)}
                </a>
              
            </li>
          ))
        }
      </ul>
     
    </div> 
      <div class="flex md:hidden justify-end ml-auto items-center">
        <LanguagePicker url={Astro.url} client:visible/>
        {showNavigation && <ToggleMenu links={links} url={Astro.url} client:visible />}
      </div>
    <div class:list={[{ 'ml-auto': position === 'left' }, 'md:self-center flex items-center md:mb-0']}>
      <div class="hidden items-center md:flex">
        {<LanguagePicker url={Astro.url} client:visible/>}
      </div>
    </nav>
  </div>
</header>
